@import 'styles/colors';

.main-header {
  background: $offwhite;
  padding: .75em 0;
  border-bottom: 1px solid $light-grey;

  ul {
    display: flex;
    list-style-type: none;
    padding-left: 0;
    margin: 0;

    li {
      margin: 0 1em;
    }
  }

  a {
    color: $black;
  }
}
