@import 'styles/colors';

.main-footer {
  border-top: 1px solid $light-grey;
  padding: .75em 0;

  ul {
    display: flex;
    list-style-type: none;
    padding-left: 0;
    margin: 0;

    li {
      color: $black;
      margin: 0 1em;
    }
  }

  a {
    color: $link-blue;
  }
}
